{
  http_port {{ football_club_caddy_http_port }}
  auto_https off
}

http://club.lan {
  reverse_proxy 127.0.0.1:8081
}

http://billing.lan {
  reverse_proxy 127.0.0.1:8082
}

http://n8n.lan {
  reverse_proxy 127.0.0.1:5678
}

http://agreements.lan {
  reverse_proxy 127.0.0.1:3000
}
