{
  http_port {{ football_club_caddy_http_port }}
  https_port {{ football_club_caddy_https_port }}
  email {{ football_club_admin_email }}
}

{{ football_club_domain }} {
  handle_path /club/* {
    reverse_proxy 127.0.0.1:8081
  }

  handle_path /billing/* {
    reverse_proxy 127.0.0.1:8082
  }

  handle_path /n8n/* {
    reverse_proxy 127.0.0.1:5678
  }

  handle_path /agreements/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle {
    redir /club/
  }
}
